*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  position: relative;
  font-size: 1.25rem;
}
header h1 {
  margin: 0;
}

main {
  min-width: 320px;
  margin: 0 5%;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1.25rem;
}
.location i {
  margin-right: 1.25rem;
}

.restaurant-discovery {
  text-align: center;
  padding: 1.25rem;
  font-size: 1.6rem;
}
.restaurant-discovery p {
  font-size: 1.6rem;
  font-weight: 100;
}

button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: white;
  font-weight: normal;
  font-size: medium;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
button:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  transform: scale(1.1);
}

.operation {
  margin: auto;
  padding: 0 1rem;
  position: relative;
}
.operation ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media all and (min-width: 62.5rem) {
  .operation ol {
    flex-direction: row;
  }
}
.operation li {
  background-color: #f3f3f3;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 1rem;
  list-style-type: none;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
}
@media all and (min-width: 62.5rem) {
  .operation li {
    position: relative;
    margin-right: 20px;
  }
}
.operation li:hover {
  transform: scale(1.05);
}
.operation i {
  color: grey;
  margin-right: 2rem;
}

.steps-number {
  position: absolute;
  left: 3.4rem;
  background-color: #9356DC;
  border-radius: 50%;
  margin-left: -10px;
  padding: 5px 9px;
  color: white;
  text-align: center;
  font-size: smaller;
}
@media all and (min-width: 62.5rem) {
  .steps-number {
    left: -2px;
  }
}

.restaurants {
  background-color: #f3f3f3;
  padding: 0 1rem;
  padding-bottom: 4rem;
}
.restaurants-global {
  margin: auto;
  max-width: 1440px;
}
.restaurants h2 {
  padding-top: 3rem;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 62.5rem) {
  .restaurants-cards {
    gap: 3rem;
  }
}
.restaurants-cards .new {
  position: relative;
}
.restaurants-cards .new::before {
  content: "Nouveau";
  display: grid;
  place-items: center;
  position: absolute;
  height: 2.2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  right: 1rem;
  top: 1rem;
}
.restaurants .card {
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  transition: all 150ms ease-in-out;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
@media (min-width: 62.5rem) {
  .restaurants .card {
    flex-direction: row;
    flex-grow: 1;
    width: 45%;
  }
}
.restaurants .card:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
}
.restaurants .card-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card-description {
  position: relative;
}
.restaurants .card-description h3 {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
}
.restaurants .card-description p {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.restaurants .card-description .coeur {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 30%;
}
.restaurants .card-description .fas {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurants .card-description .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
