*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  position: relative;
  font-size: 1.25rem;
}
header h1 {
  margin: 0;
}

main {
  min-width: 320px;
  margin: 0 5%;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1.25rem;
}
.location i {
  margin-right: 1.25rem;
}

.restaurant-discovery {
  text-align: center;
  padding: 1.25rem;
  font-size: 1.6rem;
}
.restaurant-discovery p {
  font-size: 1.6rem;
  font-weight: 100;
}

button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: white;
  font-weight: normal;
  font-size: medium;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
button:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  transform: scale(1.1);
}

.operation {
  margin: auto;
  padding: 0 1rem;
  position: relative;
}
.operation ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media all and (min-width: 62.5rem) {
  .operation ol {
    flex-direction: row;
  }
}
.operation li {
  background-color: #f3f3f3;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 1rem;
  list-style-type: none;
  transform: scale(1);
  transition: transform 400ms;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
}
@media all and (min-width: 62.5rem) {
  .operation li {
    position: relative;
    margin-right: 20px;
  }
}
.operation li:hover {
  transform: scale(1.05);
}
.operation i {
  color: grey;
  margin-right: 2rem;
}

.steps-number {
  position: absolute;
  left: 3.4rem;
  background-color: #9356DC;
  border-radius: 50%;
  margin-left: -10px;
  padding: 5px 9px;
  color: white;
  text-align: center;
  font-size: smaller;
}
@media all and (min-width: 62.5rem) {
  .steps-number {
    left: -2px;
  }
}

.restaurants {
  background-color: #f3f3f3;
  padding: 0 1rem;
  padding-bottom: 4rem;
}
.restaurants-global {
  margin: auto;
  max-width: 1440px;
}
.restaurants h2 {
  padding-top: 3rem;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 62.5rem) {
  .restaurants-cards {
    gap: 3rem;
  }
}
.restaurants-cards .new {
  position: relative;
}
.restaurants-cards .new::before {
  content: "Nouveau";
  display: grid;
  place-items: center;
  position: absolute;
  height: 2.2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  right: 1rem;
  top: 1rem;
}
.restaurants .card {
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  transition: all 150ms ease-in-out;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
@media (min-width: 62.5rem) {
  .restaurants .card {
    flex-direction: row;
    flex-grow: 1;
    width: 45%;
  }
}
.restaurants .card:hover {
  opacity: 0.8;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
}
.restaurants .card-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card-description {
  position: relative;
}
.restaurants .card-description h3 {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
}
.restaurants .card-description p {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.restaurants .card-description .coeur {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 30%;
}
.restaurants .card-description .fas {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurants .card-description .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

footer {
  background-color: #343434;
  color: white;
}
footer .footer {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 62.5rem) {
  footer .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer .footer h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: lighter;
  font-family: "Shrikhand", cursive;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
footer .footer a {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-decoration: none;
  color: white;
}
footer .footer .fas-utensils::after {
  content: "";
  padding-right: 0.8rem;
}
footer .footer .fas-hands-helping:before {
  content: "";
  padding-right: 0.4rem;
}

.headerarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.headerarrow a {
  transition: all 150ms ease-in-out;
  position: absolute;
  left: 3%;
  font-size: large;
}
.headerarrow a:hover {
  transform: scale(1.1);
}
@media (min-width: 62.5rem) {
  .headerarrow a {
    left: 5%;
    font-size: 2rem;
  }
}

.banniere img {
  max-width: 100%;
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

.menus {
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3f3;
  position: relative;
  max-width: 1440px;
}
.menus__titrerestaurant {
  position: relative;
  margin-bottom: 2rem;
}
.menus__titrerestaurant h2 {
  font-size: 1.7em;
  padding-top: 2rem;
  margin-left: 1rem;
  font-weight: lighter;
  font-family: "Shrikhand", cursive;
}
.menus__titrerestaurant .coeur {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  top: 50%;
  cursor: pointer;
}
.menus__titrerestaurant .fas {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.menus__titrerestaurant .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}
.menus .menu {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 62.5rem) {
  .menus .menu {
    flex-direction: row;
  }
}
.menus .menu__list {
  width: 100%;
  overflow: hidden;
  padding: 0 0.7rem;
  margin-bottom: 2rem;
}
.menus .menu__list .time1 {
  animation-delay: 0ms;
}
.menus .menu__list .time2 {
  animation-delay: 100ms;
}
.menus .menu__list .time3 {
  animation-delay: 200ms;
}
.menus .menu__list .time4 {
  animation-delay: 300ms;
}
.menus .menu__list .time5 {
  animation-delay: 400ms;
}
.menus .menu__list .time6 {
  animation-delay: 500ms;
}
.menus .menu__list .time7 {
  animation-delay: 600ms;
}
.menus .menu__list .time8 {
  animation-delay: 700ms;
}
.menus .menu__list .time9 {
  animation-delay: 800ms;
}
.menus .menu__list .time10 {
  animation-delay: 900ms;
}
.menus .menu__list h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
}
.menus .menu__list h2::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 3.8rem;
  background-color: #99e2d0;
  top: 2.1rem;
  left: 0.1rem;
}
.menus .menu__list--item {
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  animation: menuappears 1000ms both cubic-bezier(0.45, 1.57, 0.35, 0.85);
}
.menus .menu__list--item .menudescription {
  margin: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menu__list--item .menudescription h3,
.menus .menu__list--item .menudescription p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu__list--item .price {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}
.menus .menu__list--item .check {
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menus .menu__list--item:hover .check {
  margin-right: 0;
}
.menus .menu__list--item:hover .check i {
  animation: check-spin 500ms both ease-in-out;
}
.menus .menu__list--item i {
  font-size: 1.2rem;
  background: white;
  color: #99e2d0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
}

.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
